*{
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

.contenedor-global {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.contenerdor-principal {
    background-color: gainsboro;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 30px;
    font-weight: 700;
}

.subtitulo {
    text-align: center;
    color: grey;
}

.input {
    border-radius: 5px;
    max-width: 200px;
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
    text-align: center; 
}

.enviar{
    background-color: rgba(128, 128, 128, 0.175);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15px;
    max-width: 208px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.borrar{ background-color: rgba(200, 38, 38, 0.774);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15px;
    max-width: 208px;
    text-align: center;
    width: 100%;
    cursor: pointer;}

.enviar:hover{
    background-color: grey;
    color: white;
}

.borrar:hover{
    background-color: rgba(227, 6, 6, 0.374);
    color: white;
}

.resultado{
    margin: 15px 0;
    text-align: center;
    
}